:root {
    --primary-color: #F8F9F4;
    --secondary-color: #EDE2B9;
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE TYPO*/
h1, h2, h3, a, button {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1rem;
}
p, span {
    font-family: var(--secondary-font);
    font-family: .8rem;
}

/* ================= HEADER ================= */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    background: var(--primary-color);
    position: relative;
}

header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header img {
    height: 4rem;
    width: 9rem;
    margin-left: 1rem;
}

/* NAV */
header nav {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    width: 100%;
    text-align: left;
    margin-left: 2rem;
}

header nav.open {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header nav ul li a, footer a{
    text-decoration: none;
    color: black;
    transition: opacity 0.3s ease;
}

header nav ul li a:hover, footer a:hover{
    opacity: 0.6;
}

/* NAV BUTTON */
header button {
    padding: 1rem;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}
header button::before { content: "☰"; }
header button.open::before { content: "✕"; }

/* ================= MAIN ================= */



/* ================= FOOTER ================= */
footer { 
    display: flex; 
    flex-direction: 
    column; background-color: 
    var(--primary-color); 
    color: black; 
    text-align: center; 
} 

footer h1 { 
    margin-bottom: 
    1rem; 
} 
    
.foot1, .foot2 { 
    margin: 0; 
    width: 100%; 
    padding: 1rem; 
} 

.foot1 { 
    background-color: var(--secondary-color); 
    display: flex; gap: 1rem; 
    justify-content: space-between; 
} 
.social_media { 
    padding: 5rem;
} 

.social_media { 
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
    align-items: flex-start; 
} 

.social_media a { 
    display: flex; 
    align-items: center; 
    gap: 0.5rem; 
} 

.social_media img{ 
    display: block; 
    width: 2rem; 
    height: 2rem; }

/* ================= MEDIA QUERIES ================= */
/* DESKTOP */
@media (min-width: 1000px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header nav {
        display: block;
        max-height: none;
        opacity: 1;
        transform: none;
        overflow: visible;
        width: auto;
        margin-right: 2rem;
    }

    header nav ul {
        flex-direction: row;
        gap: 4rem;
    }

    header button {
        display: none;
    }
}

/* MOBILE */
@media (max-width: 600px) {
    #hero {
        height: 70vh;
    }

    .foot1 {
        flex-direction: column;
        align-items: center;
    }
}