.lazy-img 
{
    display: block;
    width: 500px;
    height: 400px;
    margin: 0 auto 1rem auto;
    box-shadow :0 0 10px hsl(0, 0%, 50%);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, trasnform 1s ease-out;
}

.lazy-img.show {
    opacity: 1;
    transform: translateY(0);
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
}

