
header {
    background-color: rgb(51, 51, 51);
    display: grid;
    grid-template-rows: auto auto;
}

h1{
    color: white;
    font-size: 15px;
    padding: 10px;
    padding-bottom: 30px;
}

.bar
{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.box
{
    background-color: black;
    color: white;
    text-align: center;
    padding:  20px;
}

main
{
    display: grid;
    grid-template-columns: 1fr auto;
}

.main-content
{
    background-color: rgb(204, 204, 204);
    padding: 50px;
    padding-bottom: 200px;
}

.left-sidebar
{
    padding: 50px;
    padding-bottom: 200px;
}

footer
{
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 2rem;
    padding-bottom: 30px;
    text-align: center;
    grid-column: 1/4;
}